E-TicketApp/Vista/Service References/Servicio/ControladorServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControladorServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57010/ControladorServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57010/ControladorServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControladorServicio_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IControladorServicio_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IControladorServicio_RecuperarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarUsuario" />
  </wsdl:message>
  <wsdl:message name="IControladorServicio_RecuperarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IControladorServicio">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorServicio/ValidarUsuario" message="tns:IControladorServicio_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControladorServicio/ValidarUsuarioResponse" message="tns:IControladorServicio_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorServicio/RecuperarUsuario" message="tns:IControladorServicio_RecuperarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControladorServicio/RecuperarUsuarioResponse" message="tns:IControladorServicio_RecuperarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControladorServicio" type="tns:IControladorServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IControladorServicio/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarUsuario">
      <soap:operation soapAction="http://tempuri.org/IControladorServicio/RecuperarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControladorServicio">
    <wsdl:port name="BasicHttpBinding_IControladorServicio" binding="tns:BasicHttpBinding_IControladorServicio">
      <soap:address location="http://localhost:57010/ControladorServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>